@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: "Inter", sans-serif;
font-family: "Lexend Deca", sans-serif;

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)

- Font size: 15px */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-size: 1.5rem;
  height: 100vh;
  max-width: 100vw;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 120rem;
  height: auto;
  margin: 15rem auto;
  border-radius: 1rem;
  text-align: left;
}

.text {
  /* flex: 50%; */
  background-color: hsl(244, 38%, 16%);
  max-width: 60rem;
  height: 45rem;
  padding: 8rem 14rem 8rem 8rem;
  border-radius: 1rem 0 0 1rem;
}

.text p {
  margin-right: 3rem;
}

.image {
  max-width: 50%;
  width: 60rem;
  height: 45rem;
  object-fit: cover;
  border-radius: 0 1rem 1rem 0;
  background-image: url(images/image-header-desktop.jpg);
  background-size: cover;
}

.image-front {
  background-color: hsla(277, 64%, 61%, 0.5);
  border-radius: 0 1rem 1rem 0;
  z-index: 2;
  overflow: hidden;
  min-height: 100%;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}

span {
  color: hsl(277, 64%, 61%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
}

.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5rem 1rem 0 0;
}
.companies,
.templates,
.queries {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.text-number {
  font-size: 1.1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0.3rem;
}

@media screen and (max-width: 37.5rem) {
  .container {
    flex-direction: column-reverse;
    margin: 8rem auto;
  }

  .image {
    max-width: 100%;
    width: 40rem;
    height: 35rem;
    border-radius: 1rem 1rem 0 0;
    background: url(images/image-header-mobile.jpg) no-repeat;
    object-fit: cover;
  }
  .text {
    max-width: 40rem;
    height: auto;
    padding: 4rem;
    border-radius: 0 0 1rem 1rem;
    text-align: center;
  }

  .text p {
    margin-right: 0;
  }

  .image-front {
    border-radius: 1rem 1rem 0 0;
  }

  h1 {
    font-size: 3.3rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 0 0;
  }
  .companies,
  .templates,
  .queries {
    margin-top: 3rem;
  }

  h2 {
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  .text-number {
    font-size: 1.3rem;
    margin-top: 0;
    letter-spacing: 0.2rem;
  }

  /* 

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 3.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 3rem;
}


p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 2.5rem;
}

.number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 5rem 1rem 0 0;
}
.companies,
.templates,
.queries {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

h2 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.text-number {
  font-size: 1.1rem;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0.3rem;
} */
}
